@model Invoice

<h1>Invoice: @Model.Id</h1>
<p>Customer: @Model.Customer.FirstName @Model.Customer.LastName</p>
<p>Bacon ipsum dolor amet kevin kielbasa beef brisket pork loin capicola, corned beef pig ham hock boudin swine frankfurter.
    Shankle pork corned beef, fatback strip steak pork loin chicken beef ribs burgdoggen sausage.
    Jowl kielbasa hamburger fatback andouille drumstick.</p>
